.footer-section{
    background-image: url(/img/hero-style-3\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 1920px 1330px; */
}
.footer{
    &__content{
        padding: 22px 24px 59px 24px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        @include mediaBreakpoints(lg){
            padding: 160px 300px;
        }
    }
    &__social-media-list{
        margin-top: 16px;
        margin-bottom: 57px;       
        gap:13px;
        @include mediaBreakpoints(lg){
            margin-top: 65px;
            margin-bottom: 92px;
        }
    }
}