$primaryColor: #3E9797;
$secondaryColor:#FCCA2E;
$blackColor:  #000000;
$transparentBlackColor:rgba(0, 0, 0, 0.64);
$whiteColor:  #ffffff;
$rojoBorderColor: #636363;
$bgDarkColor:#0E0E0E;
$bgLightColor:#212121;

$rectangleBgGradient:linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
$rectangleReverseBgGradient:linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%, rgba(255, 255, 255, 0.00) 100%);