@font-face {
  font-family: Righteous;
  src: url(/fonts/Righteous/Righteous-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}
.ROJObtn {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 992px) {
  .ROJObtn {
    font-size: 18px;
    line-height: 21.09px;
  }
}

.ROJObtn-primary {
  font-weight: 700;
  line-height: normal;
}

.header__left h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 992px) {
  .header__left h2 {
    font-size: 65px;
    line-height: 80.71px;
  }
}

.header__right a.tel {
  font-size: 21px;
  font-weight: 400;
  line-height: 24.61px;
}

.banner__info h1 {
  font-size: 24px;
  font-weight: 900;
  line-height: 175%;
}
@media (min-width: 992px) {
  .banner__info h1 {
    font-size: 51px;
    line-height: 58.59px;
  }
}

.banner__info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 992px) {
  .banner__info p {
    font-size: 21px;
  }
}

.menuFont {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 992px) {
  .h2 {
    font-size: 50px;
  }
}

.portfolio__content h3, .about__left h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 992px) {
  .portfolio__content h3, .about__left h2 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .portfolio__content h3, .about__left h2 {
    font-size: 50px;
  }
}

.about__right h2, .about__left h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 992px) {
  .about__right h2, .about__left h3 {
    font-size: 40px;
  }
}

.testimony__info h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 992px) {
  .testimony__info h3 {
    font-size: 24px;
  }
}

.service-box h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 992px) {
  .service-box h3 {
    font-size: 24px;
  }
}

.contact-way__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (min-width: 992px) {
  .contact-way__title {
    font-size: 18px;
  }
}

.contact-way__info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 114.286% */
}
@media (min-width: 992px) {
  .contact-way__info {
    font-size: 21px;
  }
}

.p {
  /* Body Text */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media (min-width: 992px) {
  .p {
    font-size: 16px;
  }
}

.testimony__info h4, .portfolio__content p, .about__left a, .about-me-section p, .service-box p {
  /* Body Text */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media (min-width: 992px) {
  .testimony__info h4, .portfolio__content p, .about__left a, .about-me-section p, .service-box p {
    font-size: 16px;
  }
}

.testimony__info p {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 992px) {
  .testimony__info p {
    font-size: 30px;
  }
}

.banner__text-bg {
  font-size: 490px;
  line-height: 869.19px;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .banner__text-bg {
    font-size: 700px;
  }
}

.italic {
  font-style: italic;
}

.ta-c {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: Roboto;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0px;
}

.container {
  padding: 0px 0px;
}

.banner-section, .header-section {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 576px) {
  .banner-section, .header-section {
    grid-template-columns: 1fr 540px 1fr;
  }
}
@media (min-width: 768px) {
  .banner-section, .header-section {
    grid-template-columns: 1fr 720px 1fr;
  }
}
@media (min-width: 992px) {
  .banner-section, .header-section {
    grid-template-columns: 1fr 960px 1fr;
  }
}
@media (min-width: 1200px) {
  .banner-section, .header-section {
    grid-template-columns: 1fr 1140px 1fr;
  }
}
@media (min-width: 1400px) {
  .banner-section, .header-section {
    grid-template-columns: 1fr 1320px 1fr;
  }
}

.testimony-section {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 992px) {
  .testimony-section {
    grid-template-columns: 1fr 960px 1fr;
  }
}
@media (min-width: 1200px) {
  .testimony-section {
    grid-template-columns: 1fr 1140px 1fr;
  }
}
@media (min-width: 1400px) {
  .testimony-section {
    grid-template-columns: 1fr 1320px 1fr;
  }
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.bg-black {
  background-color: #000000;
}

.bgc-primary {
  background-color: #3E9797;
}

.c-secondary {
  color: #FCCA2E;
}

.relative {
  position: relative;
}

.mirror-x {
  transform: scaleX(-1);
}

.mt-14 {
  margin-top: 14px;
}

.mb-14 {
  margin-bottom: 14px;
}

.max-width {
  min-width: 100%;
}

.ROJObtn {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: #FCCA2E;
  color: #000000;
  padding: 11px 18.32px 13px 17.44px;
}
@media (min-width: 992px) {
  .ROJObtn {
    padding: 18.91px 34.62px 14.93px 28.51px;
  }
}

.ROJObtn-primary {
  background-color: #3E9797;
  color: #ffffff;
}

.sosmed {
  display: flex;
  gap: 27px;
  align-items: center;
}

.social-media-link--primary {
  background-color: #3E9797;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .social-media-link--primary {
    width: 41px;
    height: 41px;
  }
}
.social-media-link--primary img {
  max-height: 21px;
}
@media (min-width: 992px) {
  .social-media-link--primary img {
    max-height: unset;
  }
}

.backpack-man {
  position: absolute;
  z-index: 3;
  right: 46.4px;
  bottom: 0px;
}
@media (min-width: 992px) {
  .backpack-man {
    right: 0px;
  }
}

img.backpack-man {
  height: 454px;
  width: auto;
}
@media (min-width: 992px) {
  img.backpack-man {
    width: 606px;
    height: 885.7px;
  }
}

.rectangles {
  position: relative;
  display: none;
}
@media (min-width: 992px) {
  .rectangles {
    display: block;
  }
}

.rectangle-bg {
  width: 473px;
  height: 1583px;
  transform: rotate(26.284deg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  mix-blend-mode: soft-light;
}
.rectangle-bg.bt1 {
  position: absolute;
  top: -600px;
  left: 25px;
}
.rectangle-bg.bt2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle-bg.bt3 {
  position: absolute;
  top: -300px;
  left: 525px;
}
.rectangle-bg.bt4 {
  position: absolute;
  top: -202.69px;
  left: 750px;
}
.rectangle-bg--reverse {
  background: linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, 0) 100%, rgba(255, 255, 255, 0) 100%);
}

.footer-section {
  background-image: url(/img/hero-style-3\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 1920px 1330px; */
}

.footer__content {
  padding: 22px 24px 59px 24px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
@media (min-width: 992px) {
  .footer__content {
    padding: 160px 300px;
  }
}
.footer__social-media-list {
  margin-top: 16px;
  margin-bottom: 57px;
  gap: 13px;
}
@media (min-width: 992px) {
  .footer__social-media-list {
    margin-top: 65px;
    margin-bottom: 92px;
  }
}

.header-section {
  background-color: #000000;
}

.header__left {
  background-color: #000000;
}
@media (min-width: 992px) {
  .header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 19.3px;
    padding-top: 44px;
  }
}
.header__left nav {
  display: none;
}
@media (min-width: 992px) {
  .header__left nav {
    display: flex;
  }
}
.header__left ul {
  display: flex;
  gap: 32px;
  padding-right: 20px;
}
.header__left ul li {
  display: flex;
  gap: 13px;
}
.header__left h2 {
  font-family: Righteous;
  margin-left: 24px;
  padding-top: 16px;
}
@media (min-width: 992px) {
  .header__left h2 {
    margin-left: unset;
    padding-top: unset;
  }
}
.header__right {
  background-color: #3E9797;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 24px;
}
@media (min-width: 992px) {
  .header__right {
    padding-bottom: 19.3px;
    padding-top: 44px;
    padding-right: unset;
  }
}
@media (min-width: 992px) {
  .header__right nav {
    display: none;
  }
}
.header__right a.tel {
  display: none;
}
@media (min-width: 992px) {
  .header__right a.tel {
    display: flex;
    align-items: center;
  }
  .header__right a.tel img {
    margin-right: 14px;
  }
}

.banner-section .banner__info {
  display: none;
}
@media (min-width: 768px) {
  .banner-section .banner__info {
    display: block;
  }
}

.banner__left {
  position: relative;
  padding-bottom: 201.87px;
}
.banner__text-bg {
  display: none;
}
@media (min-width: 992px) {
  .banner__text-bg {
    display: unset;
    position: absolute;
    z-index: -1;
    left: -247px;
    top: -71.93px;
    color: #000000;
    font-family: Righteous;
    opacity: 30%;
    -webkit-text-stroke: 3px #636363;
  }
}
.banner__info {
  margin-top: 38px;
  margin-bottom: 54px;
  padding-left: 21.56px;
  padding-right: 33px;
}
@media (min-width: 992px) {
  .banner__info {
    position: relative;
    top: 209.98px;
    z-index: 1;
    margin-top: unset;
    margin-bottom: 231.87px;
    padding-left: unset;
    padding-right: unset;
  }
}
.banner__info h1 {
  margin-bottom: 12px;
}
@media (min-width: 992px) {
  .banner__info h1 {
    margin-bottom: 21.89px;
  }
}
.banner__info .ROJObtn {
  margin-top: 24px;
  margin-bottom: 54px;
}
@media (min-width: 992px) {
  .banner__info .ROJObtn {
    margin-top: 117.43px;
    margin-bottom: unset;
  }
}
.banner__info .ROJObtn img {
  margin-right: 13.24px;
}
.banner__info .sosmed {
  margin-bottom: 15.14px;
}
@media (min-width: 992px) {
  .banner__info .sosmed {
    margin-bottom: 39.81px;
  }
}
.banner__right {
  position: relative;
  background-color: #3E9797;
  min-height: 454px;
}

/* 
.banner-right{
    background-color: $primaryColor;
    position: relative;
} */
.banner-info-section {
  background-color: #000000;
}
@media (min-width: 768px) {
  .banner-info-section {
    display: none;
  }
}

.services-section {
  background-color: #0E0E0E;
}

.services {
  padding: 99px 24px;
  margin: 0px;
}
@media (min-width: 992px) {
  .services {
    padding: unset;
    padding-top: 131px;
    padding-bottom: 160.59px;
  }
}

.service-box {
  background-color: #212121;
  padding: 20px 15px 21px 10px;
}
@media (min-width: 992px) {
  .service-box {
    padding: 62px 30px 65.41px 30px;
  }
}
.service-box:hover {
  background-color: #3E9797;
}
.service-box:hover h3 {
  color: #ffffff;
}
.service-box h3 {
  color: #3E9797;
  margin-top: 12px;
  margin-bottom: 8px;
}
@media (min-width: 992px) {
  .service-box h3 {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}
.service-box p {
  color: #ffffff;
}
.service-box img {
  height: 52px;
  width: auto;
}
@media (min-width: 992px) {
  .service-box img {
    height: 80px;
  }
}

.about-me-section {
  /* background: rgba(0, 0, 0, 0.64); */
  background: #000000;
  display: flex;
  justify-content: center;
}
.about-me-section p {
  margin-bottom: 35px;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 68px 24px 66px 24px;
}
@media (min-width: 992px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    padding: 116px 0px;
  }
}
.about__img-bg {
  background: rgba(0, 0, 0, 0.64);
  background-image: url(/img/Rectangle\ 89.png);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
@media (min-width: 992px) {
  .about__img-bg {
    width: 1920px;
  }
}
@media (min-width: 992px) {
  .about__left {
    width: 53.75%;
  }
}
.about__left .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 992px) {
  .about__left .paragraphs {
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
  }
}
.about__left .paragraphs p {
  margin: 0px;
}
@media (min-width: 992px) {
  .about__left .paragraphs p {
    margin: unset;
  }
}
.about__left h2 > span {
  color: #FCCA2E;
}
.about__left h3 {
  margin: 5px 0px 20px 0px;
}
@media (min-width: 992px) {
  .about__left h3 {
    margin: 35px 0px;
  }
}
.about__left a {
  color: #FCCA2E;
  display: flex;
  gap: 15;
  align-items: center;
  margin-top: 28px;
}
@media (min-width: 992px) {
  .about__left a {
    margin-top: unset;
  }
}
.about__left a img {
  height: 21px;
}
@media (min-width: 992px) {
  .about__left a img {
    height: unset;
  }
}
@media (min-width: 992px) {
  .about__right {
    width: 30.33%;
  }
}
.about__right h2 {
  color: #FCCA2E;
  margin-top: 43px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .about__right h2 {
    margin-top: unset;
    margin-bottom: 35px;
  }
}
.about__right p {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .about__right p {
    margin: unset;
  }
}
.about__right ul {
  gap: 13px;
}

/* {
    color: var(--secondary, #FCCA2E);
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
} */
.portfolio-section {
  background-color: #0E0E0E;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.portfolio-section .ROJObtn {
  margin: auto;
  margin-top: 53px;
  margin-bottom: 68px;
}
@media (min-width: 768px) {
  .portfolio-section .ROJObtn {
    margin-top: 79px;
    margin-bottom: 140px;
  }
}

.portfolio {
  position: relative;
  padding: auto;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 182px;
  }
}
.portfolio__img {
  display: flex;
  justify-content: center;
}
.portfolio img {
  max-width: 50%;
  height: auto;
}
@media (min-width: 768px) {
  .portfolio img {
    max-width: 100%;
    margin: unset;
  }
}
.portfolio__content {
  padding: 57px 24px 25px 24px;
}
@media (min-width: 768px) {
  .portfolio__content {
    padding: 57px 30px 57px 0px;
  }
}
@media (min-width: 992px) {
  .portfolio__content {
    padding: 20px 30px 0px 0px;
  }
}
@media (min-width: 1200px) {
  .portfolio__content {
    padding: 57px 30px 57px 0px;
  }
}
.portfolio__content h3 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .portfolio__content h3 {
    margin-bottom: 30px;
  }
}
.portfolio__content h3 span {
  color: #3E9797;
}
.portfolio__content p {
  color: #ffffff;
}

.testimony-section {
  background-color: #000000;
}

.testimony {
  background-color: #3E9797;
}
.testimony__backpack-man {
  position: relative;
  height: 386px;
}
@media (min-width: 992px) {
  .testimony__backpack-man {
    height: 100%;
  }
}
.testimony__backpack-man .backpack-man {
  right: 23px;
}
@media (min-width: 992px) {
  .testimony__backpack-man .backpack-man {
    right: 0px;
  }
}
.testimony__info {
  max-width: 560px;
  padding: 50px 26px 89px 26px;
  color: #000000;
}
@media (min-width: 992px) {
  .testimony__info {
    padding: 125px 0px;
  }
}
.testimony__info img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
@media (min-width: 992px) {
  .testimony__info img {
    width: 160px;
    height: 160px;
  }
}
.testimony__info p {
  margin: 23px 0px;
}
@media (min-width: 992px) {
  .testimony__info p {
    margin: 50px 0px;
  }
}
.testimony__info h4 {
  margin-top: 9px;
}

.contact-section {
  padding: 42px 24px 77px 24px;
}
@media (min-width: 992px) {
  .contact-section {
    padding: unset;
    padding-top: 136px;
    padding-bottom: 151px;
  }
}

.contact-way {
  display: flex;
  gap: 22px;
}
.contact-way__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 24px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .contact-way__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 67px;
    gap: 20px;
  }
}
.contact-way__title {
  color: #3E9797;
}
@media (min-width: 992px) {
  .contact-way__title {
    margin: 7px 0px;
  }
}
.contact-way__info {
  /* color: #FFF; */
}
.contact-way__icon-bg {
  height: 34px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #3E9797;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .contact-way__icon-bg {
    height: 68px;
  }
}
.contact-way__icon-bg img {
  height: 16px;
  max-width: 16px;
}
@media (min-width: 992px) {
  .contact-way__icon-bg img {
    height: unset;
    max-width: unset;
  }
}

.contact__form-loc {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .contact__form-loc {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contact__form .ROJObtn {
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 992px) {
  .contact__form {
    width: 85.68%;
  }
}
.contact__input {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.contact__input input {
  aspect-ratio: 401/55;
}
.contact__input textarea {
  aspect-ratio: 401/154;
}
.contact__loc {
  padding-top: 12px;
}
@media (min-width: 992px) {
  .contact__loc {
    width: 60%;
  }
}
.contact__loc img {
  width: 100%;
  height: 185px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .contact__loc img {
    height: unset;
    aspect-ratio: 673/600;
    margin-bottom: unset;
  }
}

@media (min-width: 992px) {
  .contact-form-div {
    width: 40%;
  }
}

.client-section {
  background-color: #212121;
  padding: 40px 0px;
}

.client__img {
  display: flex;
  justify-content: center;
}
.client__img img {
  width: 163px;
  height: auto;
}
@media (min-width: 992px) {
  .client__img img {
    width: 281px;
  }
}/*# sourceMappingURL=main.css.map */